.about-us {
  background: url(../../images/backgrounds/about-us-back.png) no-repeat;
  background-size: cover;
  @include breackpoint (large) {
    text-align:center;
  }
  @include breackpoint (extra-small){
    text-align:center;
  }
  figure {
    @include breackpoint (large){
      padding: 0 10px;
    }
    @include breackpoint (extra-small){
      padding:0 5px;
    }
    img {
      float: right;
      margin-top:15px;
      @include breackpoint (large){
        float:none;
      }
      @include breackpoint (extra-small){
        display:none;
      }
      &.mac {
        margin:-130px -100px 0 25px;
        @include breackpoint (large){
          margin:0;
          float:none;
        }
      }
    }
    figcaption {
      h2 {
        margin-bottom:25px;
        font-size: 40px;
        line-height: 50px;
        color: black;
        @include breackpoint (small){
          font-size:28px;
        }
        @include breackpoint (extra-small){
          font-size:24px;
        }
      }
      p {
        line-height: 35px;
        color:#3d3d3d;
      }
      dl {
        margin-top: 50px;
        width: 600px;
        @include breackpoint (large){
          margin:0 auto;
        }
        @include breackpoint (extra-small){
          width:450px;
          margin:15px auto 0;
        }
        dt {
          background: #eeeeee;
          margin-bottom:8px;
          border: 1px solid #d3d3d3;
          border-radius: 2px;
          font-weight: 600;
          padding: 10px 18px;
          height:38px;
          overflow:hidden;
          @include box-sizing(border-box);
          &::after {
            content: '-';
            float: right;
            vertical-align: middle;
          }
          &:hover {
            background: #e74c3c;
            color: white;
            &::after {
              content: '+'
            }
          }
        }
        dd {
          font-size: 16px;
          display:none;
          padding-left: 18px;
        }
      }
    }
  }
}