.process {
  clear: both;
  background: url(../../images/backgrounds/process.png) no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Campton', 'BoldDemo';
  font-size: 16px;
  line-height: 30px;
  figure {
    @include breackpoint (small){
      text-align:center;
    }
    @include breackpoint (extra-small){
      text-align:center;
    }
    img {
      float: left;
      margin-right: 105px;
      margin-bottom: 85px;
      @include breackpoint (small) {
        float:none;
        margin-right:0;
      }
      @include breackpoint (extra-small){
        float:none;
        margin-right:0;
      }
    }
    figcaption {

      li {
        display: block;
        position: relative;
        margin-bottom: 35px;
        @include breackpoint (small) {
          padding:0 10px;
          margin-bottom:50px;
        }
          @include breackpoint (extra-small){
            padding:0 10px;
            margin-bottom:50px;
        }
        &::before {
          content: '';
          position: absolute;
          top: -20px;
          right: 460px;
          background: url(../../images/icons/skills.png) no-repeat;
          width: 80px;
          height: 80px;
          @include breackpoint (small) {
            top:-60px;
            right:45%;
          }
          @include breackpoint (extra-small){
            top:-60px;
            right:45%;
          }
        }
        &:nth-child(1):before {
          background-position: -960px;
        }
        &:nth-child(2):before {
          background-position: -320px;
        }
        &:nth-child(3):before {
          background-position: -560px;
        }
      }
      h4 {
        font-size: 25px;
        font-weight: 600;
        @include breackpoint (small) {
          margin-bottom:10px;
        }
      }
      p {
        opacity: 0.9;
      }
    }

  }
}