.red-links {
  background: #e74c3c;
  color: white;
  p {
    display: inline-block;
    font-family: 'Campton', 'Light Demo';
    font-size: 22px;
    line-height: 100px;
  }

  a.button {
    width: 196px;
    margin: 0 10px 0 10px;
  }

}