body {
  @font-face {
    font-family: 'Campton', 'Bold demo';
    src: local("Campton"), url(../../../fonts/Campton-BoldDEMO.otf);
  }

  @font-face {
    font-family: 'Campton', 'Light demo';
    src: local("Campton"), url(../../../fonts/Campton-LightDEMO.otf);
  }

  @font-face {
    font-family: 'Asap', 'Bold';
    src: local("Asap"), url(../../../fonts/Asap-Bold.otf);
  }
}