.red-line{
    position:relative;
    font-size: 40px;
    color: black;
    margin-bottom:80px;
    &::before{
      position:absolute;
      top:75px;
      width:100px;
      height:4px;
      content: "";
      background:url(../../images/icons/line.png) no-repeat;
    }
  @media (min-width: 768px) and (max-width:945px){
    padding:0 10px;
  }
    span {
      color: #e74c3c;
    }
}