body{
  position:relative;
  section{
    margin: 0 auto;
    @include breackpoint (extra-small){
      min-width:450px;
    }
  .container{
    width:946px;
    margin:0 auto;
    padding-top:100px;

    @include breackpoint (small) {
      width:100%;
    }
    @include breackpoint (extra-small){
      width:100%;
      min-width:450px;
    }
  }
    .clearfix{
      @include clearfix;
    }
    &.process{
      .container{
        padding-bottom:85px;
      }
    }
    &.twitter{
      .container{
        width:740px;
        padding:120px 0 145px;
        @include breackpoint (extra-small){
          width:450px;
        }
      }
    }
  }

}