body{
  position:relative;
  section{
    min-width:946px;
    margin: 0 auto;
  .container{
    width:946px;
    margin:0 auto;
    padding-top:100px;
  }
    .clearfix{
      @include clearfix;
    }
    &.process{
      .container{
        padding-bottom:85px;
      }
    }
    &.twitter{
      .container{
        width:740px;
        padding:120px 0 145px 0;
      }
    }
  }

}